* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --boolflix-dark: black;
    --boolflix-light: white;
    --boolflix-grey: #6c6c6cc2;
    --boolflix-red: red;
}

body {
    color: var(--boolflix-light);
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--boolflix-dark);
}

.container {

    width: 100%;
    padding: 0 1rem;

    .row {
        display: flex;
        flex-wrap: wrap;

        [class^="col"] {
            margin: 1rem 5px;
            width: 100%;
            border: 0.5px solid var(--boolflix-red);
        }

    }

    & li {
        font-size: 20px;
    }

    & h4 {
        font-size: 22px;
    }

    @media (min-width:768px) {
        max-width: 720px;
        margin: auto;


        & .row .col {

            width: 48%;
        }

        & li {
            font-size: 11px;
        }

        & h4 {
            font-size: 13px;
        }

    }

    @media (min-width:1200px) {
        max-width: 1120px;

        & .row .col {
            width: calc(97% / 3);
        }

        & li {
            font-size: 13px;
        }

        & h4 {
            font-size: 15px;
        }

    }

    @media (min-width:1600px) {
        max-width: 1780px;

        & .row .col {
            width: calc(97% / 4);
        }

        & li {
            font-size: 15px;
        }

        & h4 {
            font-size: 17px;
        }

    }

}